@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

:root {
  --border-rad: 10px;
  --main-bg: hsl(222, 26%, 31%);
  --keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);

  --key-bg: hsl(32, 26%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  --key-bg-active: white;

  --key-alt-bg: hsl(225, 21%, 49%);
  --key-alt-shadow: hsl(224, 28%, 35%);
  --key-alt-active: hsl(224, 51%, 76%);

  --key-equals-bg: hsl(6, 63%, 50%);
  --key-equals-shadow: hsl(6, 70%, 34%);
  --key-equals-active: hsl(6, 93%, 67%);

  --text-key: hsl(221, 14%, 31%);
}

body {
  background: var(--main-bg);
}

main {
  width: 40%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 1rem;
  width: 100%;
  height: 5rem;
  background: var(--screen-bg);
  font-size: 3rem;
  color: white;
  border-radius: var(--border-rad);
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  background-color: var(--keypad-bg);
  padding: 2rem;
  border-radius: var(--border-rad);
}

.calculator-grid button {
  font-size: 32px;
  color: var(--text-key);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  background-color: var(--key-bg);
  box-shadow: 0px 5px 0px var(--key-shadow);
  border-radius: var(--border-rad);
  border-style: none;
}
  .calculator-grid button:active {
    background-color: var(--key-bg-active);
  }

  .calculator-grid button.alt-key {
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: var(--key-alt-bg);
    box-shadow: 0px 5px 0px var(--key-alt-shadow);
  }
    .calculator-grid button.alt-key:active {
      background-color: var(--key-alt-active);
    }

  .calculator-grid button.equals-key {
    color: white;
    background-color: var(--key-equals-bg);
    box-shadow: 0px 5px 0px var(--key-equals-shadow);
  }
    .calculator-grid button.equals-key:active {
      background-color: var(--key-equals-active);
    }

.grid-col-span-2 {
  grid-column: span 2;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  
}